<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.jmx.access.MBeanProxyFactoryBean">
        <property name="objectName" value="com.comsysto.buildlight.cleware.daemon@:name=ClewareDaemon"/>
        <property name="proxyInterface" value="com.comsysto.buildlight.cleware.daemon.ClewareDaemon"/>
        <property name="serviceUrl" ref="jmxServiceURL"/>
    </bean>

    <bean id="jmxServiceURL" class="com.comsysto.buildlight.cleware.daemon.ClewareDaemonFactoryBean"/>

</beans>