<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <beans profile="jenkins">
        <context:component-scan base-package="com.buildlight.respository.jenkins"/>

        <bean class="org.springframework.web.client.RestTemplate"/>
    </beans>

    <beans profile="test">
        <context:property-placeholder ignore-unresolvable="false"
                                      system-properties-mode="OVERRIDE"
                                      properties-ref="repositoryProperties"/>

        <util:properties id="repositoryProperties">
            <prop key="jenkins.serverUrl">http://localhost:8081/build-server</prop>
            <prop key="jenkins.name">MYBUILD</prop>
        </util:properties>
    </beans>
</beans>