<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.buildlight.respository.bamboo"/>

    <bean class="org.springframework.web.client.RestTemplate"/>

    <beans profile="test">
        <context:property-placeholder ignore-unresolvable="false" properties-ref="repositoryProperties"/>

        <util:properties id="repositoryProperties">
            <prop key="bamboo.serverUrl">http://localhost:8081/bamboo</prop>
            <prop key="bamboo.buildKey">MYBUILDKEY_MYJOBKEY</prop>
            <prop key="bamboo.username">heinz</prop>
            <prop key="bamboo.password">dieter</prop>
        </util:properties>
    </beans>
</beans>